/* ****** general styling ****** */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Microbe", cursive;
}

::selection {
  background-color: black;
  color: cadetblue;
}

/* ******* specific styling ******** */
.spiderhead {
  padding: 4rem;
  text-align: center;
  background-color: cadetblue;
}

.title {
  font-size: 4rem;
}

h1 {
  font-size: 1em;
}

#profession {
  font-size: 0.25em;
}

.nav-link {
  /* could also use .spiderhead a */
  margin-inline: 3rem; /*both sides, otherwise its too much at one side; could also use .nav-link + .nav-link -> margin-left*/
  color: powderblue;
  text-underline-offset: 0.1rem;
  transition: background-color 0.5s;
}

.nav-link:hover {
  background-color: black;
}

.nav-link:active {
  color: cadetblue;
}

#profession::after {
  content: "🕸️";
  background-color: black;
}

#hire {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background-color: indianred;
  padding: 1.2rem;
  color: powderblue;
  border-radius: 1.2rem;
  border: 0.1rem solid powderblue;
  box-shadow: 0.2rem 0.2rem 1.2rem 0.1rem black; /* offset-x, offset-y, blur-radius, spread-radius, color*/
}

.spiderbody {
  padding: 4rem;
  padding-left: 5rem; /* add 20px that the headings moved left*/
  max-width: 75ch; /*maximale Screenbreite */
  margin: 0 auto; /*center the element with auto margin*/
}

.spiderbody > article + article {
  /* could also use .spiderbody > * + * ... */
  margin-top: 3rem;
  border-top: thick double black;
}

.period {
  display: inline-block;
  margin-right: 1.3rem;
  margin-block: 0;
  _border: 0.1rem solid black;
}

article > h2 {
  position: relative;
  left: -1.2rem;
}

/* ---for things, that I don't use anymore---------------------------- */
.spider {
  max-width: 60px; /* list numbers back next to the content through minimize the width*/
  margin: 0 auto; /* back in the center*/
}
.spider li {
  margin-bottom: 7px;
  color: powderblue;
}
.spider li:hover {
  background-color: black;
  font-size: large;
}

#hireme {
  position: sticky;
  top: 1.2rem;
  left: 90%;
  width: 6rem;
  background-color: indianred;
  padding: 1.2rem;
  color: powderblue;
  border-radius: 1.2rem;
  border: 0.1rem solid powderblue;
  box-shadow: 0.2rem 0.2rem 1.2rem 0.1rem black; /* offset-x, offset-y, blur-radius, spread-radius, color*/
}
/* ------------------------------------------------------------------ */

/* ----------- heart shaped checkbox --------------*/
.custom {
  width: 100px;
  aspect-ratio: 1 / 0.9;
  position: relative;
  margin: 0 auto;
  color: indianred;
  padding-top: 15px;
  text-align: center;
}

#check:checked + label > .custom:before {
  background: indianred;
}
#check:checked + label > .custom:after {
  background: indianred;
}

#check {
  all: unset;
}

.custom:before,
.custom:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  _background: indianred;
  border-radius: 50px 50px 0 0; /* make the top edge round */
  transform: rotate(-45deg); /* 45 degrees rotation counter clockwise */
  transform-origin: 0 100%; /* Rotate it around the bottom-left corner */
  border-top: 2px solid indianred;
}

.custom:after {
  left: 0; /* placing the right part properly */
  transform: rotate(45deg); /* rotating 45 degrees clockwise */
  transform-origin: 100% 100%; /* rotation is around bottom-right corner this time */
  border-right: 2px solid indianred;
}
.custom:before {
  border-left: 2px solid indianred;
}
/* source: https://stackoverflow.com/questions/17386168/how-to-create-a-heart-shape-using-css */
/* ----------- heart shaped checkbox --------------*/
