/* ****** general styling ****** */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  --theme-color: cadetblue;
  --theme-accent: powderblue;
  --theme-contrast: indianred;
  --shadow-color: black;
  --page-background-color: white;
  color: var(--shadow-color);
  background-color: var(--page-background-color);
}

/*
@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: rgb(12, 46, 46);
    --shadow-color: lightgrey;
    --theme-color: teal;
    --theme-accent: cadetblue;
    --theme-contrast: maroon;
  }
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Microbe", cursive;
}

::selection {
  background-color: var(--shadow-color);
  color: var(--theme-accent);
}

/* ******* specific styling ******** */
.spiderhead {
  padding: 4rem;
  text-align: center;
  background-color: var(--theme-color);
  background-image: linear-gradient(
    #0000003a,
    var(--theme-color) 20% 60%,
    var(--theme-contrast) 90%,
    var(--page-background-color)
  );
}

.title {
  font-size: 4rem;
}

h1 {
  font-size: 1em;
}

#profession {
  font-size: 0.25em;
}

/*Navigation*/
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  _border: 2px solid red;
  margin-left: 3rem;
}

@media print {
  .nav * {
    display: none;
  }
}

@media screen and (min-width: 786px) {
  .nav {
    flex-direction: row;
  }
}

.nav-link {
  /* could also use .spiderhead a */
  margin-inline: 3rem; /*both sides, otherwise its too much at one side; could also use .nav-link + .nav-link -> margin-left*/
  color: var(--theme-accent);
  margin-top: 1rem;
  text-underline-offset: 0.1rem;
  transition: background-color 0.5s;
  _border: 2px solid black;
}

.nav-link:hover {
  background-color: var(--shadow-color);
}

.nav-link:focus {
  outline: dotted var(--theme-accent);
  background-color: var(--shadow-color);
}

.nav-link:active {
  color: var(--theme-color);
}

#profession::after {
  content: "🕸️";
  background-color: rgba(0, 0, 0, 0.688);
  border-radius: 5rem;
  padding-inline: 0.3rem;
  padding-bottom: 0.1rem;
  margin: 0.5rem;
}

#hire {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background-color: var(--theme-contrast);
  padding: 1.2rem;
  color: var(--theme-accent);
  border-radius: 1.2rem;
  border: 0.1rem solid var(--theme-accent);
  box-shadow: 0.2rem 0.2rem 1.2rem 0.1rem var(--shadow-color); /* offset-x, offset-y, blur-radius, spread-radius, color*/
  transition: transform 0.3s ease-out;
}

.spiderhead:hover #hire,
.spiderhead:focus-within #hire {
  transform: scale(1.2);
}

@media screen and (min-width: 992px) {
  #hire {
    position: fixed;
  }
}

@media print {
  #hire {
    display: none;
  }
}

/*Articles*/
.spiderbody {
  padding: 4rem;
  padding-left: 5rem; /* add 20px that the headings moved left*/
  max-width: 75ch; /*maximale Screenbreite */
  margin: 0 auto; /*center the element with auto margin*/
}

.spiderbody > article + article {
  /* could also use .spiderbody > * + * ... */
  margin-top: 3rem;
  border-top: thick double var(--theme-color);
}

@media screen and (min-width: 786px) {
  .spiderbody > * + * {
    margin-top: 4rem;
  }
  .spiderbody {
    max-width: 100ch;
  }
}

@media screen and (min-width: 992px) {
  .spiderbody > * + * {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 786px) {
  .main-article * {
    _background-color: yellow;
  }
  .main-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }

  .content-wrapper {
    margin-top: 2rem;
  }

  .jobs {
    flex-direction: row;
  }
}

.jobs {
  display: flex;
  flex-direction: column;
  _border: 2px solid red;
}

.period {
  display: inline-block;
  margin-bottom: 0;
  _border: 0.1rem solid black;
}

p.period {
  margin-left: 1.3rem;
}

article > h2 {
  position: relative;
  left: -1.2rem;
}

footer {
  height: 10rem;
  padding-top: 1.5rem;
  background-image: linear-gradient(
    var(--page-background-color),
    var(--theme-accent) 60%,
    var(--theme-contrast) 95%
  );
}

/* ----------- heart shaped checkbox --------------*/
.custom {
  width: 100px;
  aspect-ratio: 1 / 0.9;
  position: relative;
  margin: 0 auto;
  color: var(--theme-contrast);
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
}

#check:checked + label > .custom:before {
  background: var(--theme-contrast);
}
#check:checked + label > .custom:after {
  background: var(--theme-contrast);
}

#check {
  all: unset;
}

.custom:before,
.custom:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  _background: var(--theme-contrast);
  border-radius: 50px 50px 0 0; /* make the top edge round */
  transform: rotate(-45deg); /* 45 degrees rotation counter clockwise */
  transform-origin: 0 100%; /* Rotate it around the bottom-left corner */
  border-top: 2px solid var(--theme-contrast);
}

.custom:after {
  left: 0; /* placing the right part properly */
  transform: rotate(45deg); /* rotating 45 degrees clockwise */
  transform-origin: 100% 100%; /* rotation is around bottom-right corner this time */
  border-right: 2px solid var(--theme-contrast);
}
.custom:before {
  border-left: 2px solid var(--theme-contrast);
}
/* source: https://stackoverflow.com/questions/17386168/how-to-create-a-heart-shape-using-css */
/* ----------- heart shaped checkbox --------------*/
