* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

html {
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Microbe", cursive;
}

.spiderhead {
  padding: 60px;
  text-align: center;
  background-color: cadetblue;
}

.spiderbody {
  padding: 60px;
  max-width: 800px; /*maximale Screenbreite */
  margin: 0 auto; /*center the element with auto margin*/
}

/* for the list of navigation elements, that I don't use anymore */
.spider {
  max-width: 60px; /* list numbers back next to the content through minimize the width*/
  margin: 0 auto; /* back in the center*/
}
header li {
  margin-bottom: 7px;
  color: powderblue;
}
header li:hover {
  background-color: black;
  font-size: large;
}
/* ------------------------------------------------------------ */

article + article {
  /* could also use .spiderbody > * + * ... */
  margin-top: 50px;
  border-top: thick double black;
}

header a {
  margin-right: 50px;
  margin-left: 50px; /*otherwise its too much at one side; could also use header a + a -> margin-left*/
  color: powderblue;
}

header a:hover {
  background-color: black;
}

header a:active {
  color: cadetblue;
}

::selection {
  background-color: black;
  color: cadetblue;
}

#profession::after {
  content: "🕸️";
  background-color: black;
}
